<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="modelimport" name="Model Import" schema="schema/modelimport.exsd"/>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.jdt.ui.PackageExplorer"
               relationship="stack"
               id="com.remainsoftware.fde.internal.workbench.ui.modelView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="com.remainsoftware.fde.workbench.core.modelimport">
      <model
            modelId="com.remainsoftware.fde.application.part.0"
            modelURI="platform:/plugin/com.remainsoftware.fde.application/Application.e4xmi"
            reparentId="left">
      </model>
   </extension>

</plugin>
