<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.jdt.ui.PackageExplorer"
               relationship="stack"
               id="com.remainsoftware.fde.internal.workbench.ui.modelView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="com.remainsoftware.e4.model.importer.modelimport">
      <model
            elementId="com.remainsoftware.fde.workbench.core.model1"
            fragment="true"
            modelURI="com.remainsoftware.fde.workbench.core.model1"
            referenceId="com.remainsoftware.fde.workbench.core.model1"
            relationship="first">
      </model>
   </extension>

</plugin>
