<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fde -->
      <package
            uri="http://www.eclipse.org/e4/fde/0.1.0"
            class="com.remainsoftware.fde.model.ModelPackage"
            genModel="model/fde.genmodel"/>
   </extension>

</plugin>
